In [10]:
import yfinance as yf
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
from textblob import TextBlob
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


try:
    aapl=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\AAPL_historical_data.csv")
    amzn=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\AMZN_historical_data.csv")
    goog=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\GOOG_historical_data.csv")
    meta=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\META_historical_data.csv")
    msft=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\MSFT_historical_data.csv")
    nvda=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\NVDA_historical_data.csv")
    tsla=pd.read_csv(r"C:\Users\pc\Desktop\Data coll\Week 1\yfinance_data\TSLA_historical_data.csv")
    print("Loaded successfully")
except:
    print("Try again")

Loaded successfully

In [12]:
tsla.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0